<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS -->
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- External JS Files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- JS File -->
  <script src="scripts/app.js"></script>
  <title>Messages</title>
</head>

<body>
  <header class="header">
  <h1 class="logo">ZWW</h1>
  <nav>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/favorites">Favorites</a></li>
      <li><a href="/conversations">Messages</a></li>
    </ul>
  </nav>
</header>
<div class="messages_reply">
<h2 class="title">All Messages</h2>
  <% for (message of messages) { %>
    <div class="all-messages-container">

      <h3>
        From: <%= message.from %>
      </h3>

      <p>
        <%= message.message %>
      </p>

      <span>
        <%= message.created %>
      </span>


    </div>
    <% } %>
    <form action="/messages/conversations/<%= conversationId %>" method="POST" class="textandbtn">
      <textarea type="text" name="message" class="replybox"></textarea>
      <button type="submit" class="replybtn">Reply</button>
    </form>
  </div>
</body>

</html>
