.flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    max-width: 2000px;
    border: 10px solid rgb(52, 102, 167);
    border-radius: 20px;

    .item-wrapper {
      padding: 20px;

      .item--img {
        max-width: 500px;
        width: 100%;
        min-height: 500px;
      }

      .item--desc {
        margin: 10px 0;
      }
    }


  }

}
