.outer-container {
  text-align: center;
  .fav-container {
    display: flex;
    padding: 10px;
    background-color: rgb(203, 206, 236);
    max-width: 1000px;
    width: 90%;
    margin: 0 auto 20px;
    padding: 25px;
    border-radius: 20px;

    .img-container {
      max-width: 500px;
      min-width: 500px;

      .item--img {
        width: 100%;
        height: 500px;
      }
    }

    .desc-container {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 20px;

      .item--desc {
        margin: 10px 0;
      }
    }
  }
}
