* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: rgb(231, 232, 240);
}

h2 {
  color: rgb(37, 44, 105);
  margin-bottom: 10px;
  font-size: 1.5rem;
}

