header {
  background-color:rgb(203, 206, 236);
  padding: 20px;
  position: sticky;
  top: 0;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color:rgb(69, 79, 165);
  }

  nav {
    width: 35%;
    .nav-links {
      display: flex;
      justify-content: space-around;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          color: rgb(69, 79, 165);
          font-size: 1.5rem;
          transition: 0.3s linear;
          padding: 5px;

          &:hover {
            color:rgb(26, 33, 95)
          }
        }
      }
    }
  }



}
