header {
  background-color: rgb(203, 206, 236);
  padding: 0 50px;
  position: sticky;
  top: 0;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 5vh;
  margin-bottom: 20px;

  .logo {
    color: rgb(69, 79, 165);
    flex: 1 1 700px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    // if navigating page on chrome comment out everything below this
    // background-image: linear-gradient(
    //   to right bottom,
    //   rgb(54, 27, 177),
    //   rgb(131, 20, 165),
    //   #fff
    // );
    // background-clip: text;
    // -webkit-text-fill-color: transparent;
    // and above this
    font-style: italic;
    position: relative;
    font-size: 1.2rem;
    padding: 10px 0;

    &::after {
      content: "";
      position: absolute;
      width: 60px;
      height: 2px;
      border-radius: 15px;
      background-image: linear-gradient(
        to right bottom,
        rgb(54, 27, 177),
        rgb(131, 20, 165),
        #fff
      );
      transform: rotate(-10deg) translate(-50px, 10px);
    }
  }

  nav {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 700px;

    .nav-links {
      display: flex;

      li {
        list-style-type: none;
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
          color: rgb(69, 79, 165);
          font-size: 1.2rem;
          transition: 0.3s linear;
          padding: 0 10px;

          &:hover {
            color: rgb(26, 33, 95);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1499px) {
  header .logo {
    text-align: center;
  }

  header nav {
    justify-content: center;
    padding-bottom: 10px;
  }
}
