header {
  background-color: rgb(203, 206, 236);
  padding: 0 50px;
  position: sticky;
  top: 0;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 8vh;
  margin-bottom: 20px;

  .logo {
    color: rgb(69, 79, 165);
    flex: 1 1 500px;
  }

  nav {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 500px;

    .nav-links {
      display: flex;

      li {
        list-style-type: none;

        a {
          text-decoration: none;
          color: rgb(69, 79, 165);
          font-size: 1.5rem;
          transition: 0.3s linear;
          padding: 10px;

          &:hover {
            color: rgb(26, 33, 95);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1099px) {
  header .logo {
    text-align: center;
  }

  header nav {
    justify-content: center;
  }
}
