.dropdown {
  position: relative;
}

.dropbtn {
  color: #fff;
  background-color: rgb(110, 79, 248);
  border: 2px solid rgb(110, 79, 248);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  ul {
    background-color: #fff;

    li {
      list-style-type: none;
      padding: 10px;

      &:hover {
        background-color: rgb(203, 206, 236);
      }
      a {
        font-size: 18px;
        text-decoration: none;
      }
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}
