.new--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: auto;
  background-color: #cbceec;
  padding: 0px 20px 20px;
  border-radius: 10px;
  text-transform: capitalize;
}

.new--container h2 {
  text-align: center;
}

.new--container button {
  width: 150px;
  color: #fff;
  background-color: #6e4ff8;
  border: 2px solid #6e4ff8;
  margin: 12px auto 0px;
  border-radius: 5px;
  cursor: pointer;
}

.new--container label {
  margin: 4px;
}

.messages_reply {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1000px;
  width: 90%;
  margin: auto;
}

.messages_reply .all-messages-container {
  margin: 0 auto 20px;
  width: 90%;
  max-width: 1000px;
  border: 10px solid #3466a7;
  border-radius: 20px;
  padding: 30px;
}

.messages_reply .all-messages-container .created-at {
  color: rgba(110, 39, 80, 0.3);
}

.messages_reply .textandbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
}

.messages_reply .replybox {
  margin-bottom: 20px;
  resize: none;
  width: 100%;
  height: 100px;
  padding: 5px;
}

.messages_reply .replybtn {
  color: #fff;
  background-color: #6e4ff8;
  border: 2px solid #6e4ff8;
  padding: 5px;
  border-radius: 10px;
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  cursor: pointer;
}

.flex-convo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.flex-convo-container .all-messages-container {
  background-color: #cbceec;
  margin: 20px 0;
  padding: 20px;
  border-radius: 20px;
}

.flex-convo-container .all-messages-container .reply-btn {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  color: #fff;
  background-color: #6e4ff8;
  border: 2px solid #6e4ff8;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.dropdown-content ul {
  background-color: #fff;
}

.dropdown-content ul li {
  list-style-type: none;
  padding: 10px;
}

.dropdown-content ul li:hover {
  background-color: #cbceec;
}

.dropdown-content ul li a {
  font-size: 18px;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90%;
  max-width: 2000px;
  border: 10px solid #3466a7;
  border-radius: 20px;
  padding: 20px;
}

.flex-wrapper .container .item-wrapper {
  max-width: 500px;
  padding: 10px;
}

.flex-wrapper .container .item-wrapper .img-container {
  min-width: 500px;
}

.flex-wrapper .container .item-wrapper .img-container .item--img {
  width: 100%;
  height: 500px;
}

.flex-wrapper .container .item-wrapper .item--desc {
  margin: 10px 0;
}

.outer-container {
  text-align: center;
}

.outer-container .fav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: #cbceec;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto 20px;
  padding: 20px;
  border-radius: 20px;
}

.outer-container .fav-container .item--img {
  max-width: 500px;
  width: 100%;
  min-height: 200px;
}

.outer-container .fav-container .desc-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 20px;
}

.outer-container .fav-container .desc-container .item--desc {
  margin: 10px 0;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 20px;
  width: 90%;
  max-width: 1000px;
  text-transform: capitalize;
  border: 10px solid #3466a7;
  border-radius: 20px;
  padding: 15px;
}

.flex-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-container .container .item--desc {
  margin: 10px 0;
}

.flex-container .container .item--price {
  margin-top: 10px;
}

.flex-container .container .item--img {
  max-width: 500px;
  width: 100%;
  min-height: 400px;
}

header {
  background-color: #cbceec;
  padding: 0 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 8vh;
  margin-bottom: 20px;
}

header .logo {
  color: #454fa5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 700px;
          flex: 1 1 700px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#361bb1), color-stop(#8314a5), to(#fff));
  background-image: linear-gradient(to right bottom, #361bb1, #8314a5, #fff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  position: relative;
}

header .logo::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 5px;
  border-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#361bb1), color-stop(#8314a5), to(#fff));
  background-image: linear-gradient(to right bottom, #361bb1, #8314a5, #fff);
  -webkit-transform: rotate(-10deg) translate(-85px, 15px);
          transform: rotate(-10deg) translate(-85px, 15px);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 700px;
          flex: 1 1 700px;
}

header nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav-links li {
  list-style-type: none;
}

header nav .nav-links li a {
  text-decoration: none;
  color: #454fa5;
  font-size: 1.5rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  padding: 10px;
}

header nav .nav-links li a:hover {
  color: #1a215f;
}

@media only screen and (max-width: 1499px) {
  header .logo {
    text-align: center;
  }
  header nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #e7e8f0;
}

.title {
  color: #454fa5;
  margin: 0;
  font-size: 2rem;
  padding: 20px 0;
}

h3 {
  color: #252c69;
  padding-bottom: 20px;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-container button {
  margin-right: 1rem;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.btn-container .red-btn {
  background-color: #e95e5e;
  border: 2px solid #e95e5e;
}

.btn-container .border-btn {
  background-color: #fff;
  border: 2px solid #808ae9;
}

.light-btn {
  color: #fff;
  background-color: #6e4ff8;
  border: 2px solid #6e4ff8;
}
/*# sourceMappingURL=styles.css.map */